---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="yes"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<div style="text-align: center; border-bottom: 1px solid #000;">
		<h1>What is MUN Concrete Toboggan?</h1>
	</div>
	<div style="text-align: center">
		<p>
			Concrete Toboggan is a diverse student group from the Memorial University of Newfoundland and 
			Labrador (MUN). The team includes five engineering sub-teams which are mechanical, concrete, 
			logistics, marketing, spirit and display. A team of students from various backgrounds and 
			disciplines that come together and build a concrete toboggan for the annual GNCTR.
		</p>
	</div>
	<div style="text-align: center; border-bottom: 1px solid #000;">					
		<h1>Sub-Teams</h1>
	</div>
	<div style="text-align: center">
		<details>
			<summary>Mechanical Design Team</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>Concrete Design Team</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>Logistics Team</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>Marketing Team</summary>
			<p>
				test
			</p>
		</details>
		<details>
			<summary>Spirit/Display Team</summary>
			<p>
				test
			</p>
		</details>
	</div>
	<div style="text-align: center; border-bottom: 1px solid #000;">
		<h1>About the Competition</h1>
	</div>
	<div style="text-align: center">
		<p>
			The Great Northern Concrete Toboggan Race (GNCTR) is the largest student run, engineering 
			competition in Canada. The annual competition includes a technical exhibit, presentations 
			and multiple racing events spanning over a five day period. On race day, team's are judged 
			on various aspects of their toboggan such as their speed, steering & braking design in a 
			slalom race and can compete in the ultimate King of the Hill tournament.
		</p>
	</div>

</Layout>

<style>

details {
	margin: 1em 0;
	text-align: center;
	border-bottom: 1px solid #000;
}
summary {
	font-weight: bold;
	cursor: pointer;
}

</style>