---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Contact Us"
    description="Get in touch with us"
    pubDate={new Date('August 08 2021')}
    heroImage="/blog-placeholder-contact.jpg"
>
    <div style="text-align: center">
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-5b153324-de9d-4bc4-bbc2-67b05a86c945" data-elfsight-app-lazy></div>
    </div>
</Layout>