---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Contact Us"
    description="Get in touch with us"
    pubDate={new Date('August 08 2021')}
    heroImage="/blog-placeholder-contact.jpg"
>
    <div style="text-align: center; border-bottom: 1px solid #000;">
        <h1>Contact Us</h1>
    </div>
    <div style="text-align: center">
        <form action="/submit_contact" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</Layout>