---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import logoUrl from '../../assets/teampics/teampic24.jpeg?url';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="center-content">
				<img src={logoUrl} alt="Site Logo" />
				<h1>Hello Boggers!</h1>
				<p>
					Welcome to the official website of Memorial University's Concrete Toboggan Team!
					We are a group of students who are passionate about engineering and design.
					We are proud to represent Memorial University in the annual Great Northern Concrete Toboggan Race!
				</p>
				<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
				<div class="elfsight-app-fa02f060-6dd0-4406-9564-0677ee13bf0b" data-elfsight-app-lazy></div>
				<h2>Sponsorship Package</h2>
				<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
				<div class="elfsight-app-35469dd3-1c2b-4d58-8835-d92a8c365730" data-elfsight-app-lazy></div>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>

img {
  width: 80%;
  height: auto;
  margin-bottom: 20px; /* Add 20px of space below the image */
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	margin: 20px 0; /* Add 20px of vertical space between elements */
}

</style>