---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import logoUrl from '../../assets/teampics/teampic24.jpg?url';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src={logoUrl} alt="Site Logo" />
			<h1>Hello Boggers!</h1>
			<p>
				Welcome to the official website of Memorial University's Concrete Toboggan Team!
				We are a group of students who are passionate about engineering and design.
				We are proud to represent Memorial University in the annual Great Northern Concrete Toboggan Race!
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>

<style>

img {
  width: 100%;
  height: auto;
  /* max-height: 200px; */
}

</style>