---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Sponsors"
    description="Our valued sponsors"
    pubDate={new Date('August 08 2021')}
    heroImage="/blog-placeholder-sponsor.jpg"
>
    <div style="text-align: center">					
        <h2>Sponsorship Package</h2>
		<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
		<div class="elfsight-app-35469dd3-1c2b-4d58-8835-d92a8c365730" data-elfsight-app-lazy></div>
	</div>
</Layout>